<!DOCTYPE html>
<html>
    <head>
        <title>Title Form</title>
    </head>
    <body>
        <h1>Input a title:</h1>
        <form action="/view_title_cased">
            <label for="phrase">Phrase:</label>
            <input type="text" name="phrase" id="phrase">
            <button type="submit">Translate</button>
    </body>
</html>
